@import url('https://fonts.googleapis.com/css?family=Cairo:200,300,400,600,700,900|Libre+Franklin:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

* {
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: block;
  clear:both;
}

.Wrapper {
  margin: auto;
  max-width: 1200px;
}

.wrap-header {
  background-image: url("../images/hand-copy-2.png");
  background-color: #A9A9A9;
  background-repeat: no-repeat;
  background-position: 40.16% 100%;
  width: 100%;
  height: 770px;
}

.header-top-wrap-logo {
  width: 240px;
  background-color: #250a37;
  padding: 20px 35px 19px;
  float: left;
}

.header-top-menu {
  float: right;
  //width: ~"calc(100% - 244px)";
  width: 277px;
}

.header-top-menu-item {
  display: inline-block;
  vertical-align: top;
  text-align: center;

  &_authentication {
    width: 164px;
  }

  &_change-language {
    width: 109px;
    background-color: #ffffff;
  }

  &_local {
    font-family: 'Cairo', sans-serif;
    font-size: 23px;
    font-weight: bold;
    line-height: 1;
    color: #1d1d1d;
    padding: 28.25px 29px;
    display: block;
    text-decoration: none;

    &:hover {
      background-color: #250a37;
      color: #ffffff;
    }
  }

  &_log-in {
    min-width: 110px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    line-height: 1;
    color: #982be1;
    border-radius: 109.4px;
    border: solid 1px #982be1;
    display: block;
    margin: 18px 27px 12px;
    padding: 17.2px 0;
  }
}

.header-main-content {
  max-width: 73%;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 70px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.97;
  letter-spacing: normal;
  text-align: left;
  color: #982be1;
  margin: 138px auto auto 19.25%;
}

.header-main-content-description {
  max-width: 25.4%;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 1.22;
  color: #982be1;
  margin: 12px auto auto 19.25%;
}

.header-get-invited {
  width: 100%;

  &_enter-your-email {
    max-width: 350.9px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.33;
    color: #787878;
    padding: 20px 128.9px 19px 28px;
    border-radius: 93px;
    background-color: #ffffff;
    outline: none;
    border: none;
    margin: 90px -86.5px auto 29%;

    &:focus {
      //border: 1px solid #787878;
    }
  }

  &_btn-get-invited {
    max-width: 173px;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 20px;
    font-weight: 900;
    line-height: 1.2;
    color: #ffffff;
    padding: 18.7px 32px;
    border-radius: 200px;
    background-color: #2d0f41;
    border: none;
  }
}

.block-advantages {
  width: 100%;
  margin-top: -51px;
}

.block-advantages-wrap {
  //width: 65.4%;
  margin: auto 11.67% auto 18.75%;
}

.block-advantages-item {
  width: ~"calc(32.5% - 47px)";
  display: inline-block;
  vertical-align: top;
  text-align: left;
  margin: auto 23.5px;

  &_img {
    margin: auto auto 24px 24px;
  }

  &_header {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.13;
    color: #565656;
  }

  &_description {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.1;
    color: #565656;
    margin-top: 12px;
  }
}


